* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(180deg, #0f5132, #2e7d5b);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-block: 2rem;
}
.fa-youtube {
  color: red;
  background: #fffefe;
  padding: 5px;
  border-radius: 50%;
  display: inline-block;
}

.fa-instagram {
  color: white;
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  padding: 6px;
  border-radius: 50%;
  display: inline-block;
}

.fa-x-twitter {
  color: white;
  background: black;
  padding: 6px;
  border-radius: 50%;
  display: inline-block;
}
.container {
  width: 90%;
  max-width: 500px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.317);
  padding: 1.5rem;
  border-radius: 1.5rem;
  background: linear-gradient(180deg, #144a25, hwb(153 26% 46%));
  /* box-shadow: 0 24px 32px 0px rgba(0, 0, 0, 0.15); */
  box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.406);

  /* box-shadow: 0px 0px 15px rgb(145, 170, 3); */
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid rgba(255, 255, 255, 0.491);
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.463);
}

.profile h1 {
  font-size: 22px;
  letter-spacing: 2px;
}

.profile p {
  font-size: 14px;
  opacity: 0.8;
}

.socials {
  margin: 15px 0;
}

.socials a {
  margin: 0 10px;
  font-size: 22px;
  color: white;
  transition: 0.3s;
}

.socials a:hover {
  transform: scale(1.2);
  color: #00ffcc;
}

.links {
  margin-top: 20px;
}

.links a {
  border: 1px solid rgba(255, 255, 255, 0.491);
}

.card {
  display: flex;
  gap: 2rem;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px 15px;
  border-radius: 15px;
  margin-bottom: 12px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.card:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-3px);
}

.card .logo {
  height: 50px;
  border-radius: 1rem;
  /* width: 10px; */
}

.footer-text {
  font-size: small;
}
